.dark-color {
    background-color: #515751 !important;
}

.light-color, .card{
    background-color: #EEFFDB !important;
}

.card {
    border: none !important;
}

.apple {
    display:inline-block;
    overflow:hidden;
    background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2010-06-15&kind=iossoftware&bubble=ios_apps) no-repeat;
    width:135px;
    height:40px;
}

.list-group, .list-group-flush, .list-group-item {
    background-color: #515751 !important;
}

.gallery-color {
    background-color: #B8D4E3 !important;
}

body {
    background: #D64933 !important;
    padding: 0px;
    
}

html {
    height: 100%;
    padding: 0px;
}


/* https://coolors.co/dff3e4-ee92c2-5d675b-445552-3e4cdc */